@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #E7E5D9;

}

*,*:before, *:after {
    box-sizing: inherit;
}

	img {
    display: block;
    width: 100%;
}

.icons {
	width: 100px;
	display: inline-block;
}

.icon-two {
	width: 80px;
	padding: 10px;
	display: inline-block;
	vertical-align: middle;
}

.dark-brown {
	background-color: #87714F;
}

.masthead {
	background: transparent url("../images/masthead-bg.png") repeat left center;
	text-align: center;

}

.title {
	text-shadow: 2px 2px 0 #BFBFBE;
	background-color: #E7E5D9;
	display: inline-block;
}

.border {
	border-image: url("../images/image-border.png") 29 29 29 29 stretch stretch;
	border-width: 29px 29px 29px 29px;
}

.poster-info {
	text-align: center;

}

